<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
    <p>No ratings!</p>
<% else %>
    <p> Favorite beer: <%= @user.favorite_beer.name %> </p>
    <p> Favorite brewery: <%= @user.favorite_brewery.name %> </p>
    <p> Favorite style: <%= @user.favorite_style %> </p>
    <p><%= @user.average_rating %></p>>
<% end %>

<h2>List of ratings</h2>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<h2>List of memberships</h2>

<table>
  <ul>
    <% @user.memberships.each do |member| %>
        <li> <%= link_to member.to_s, memberships_path %> </li>
    <% end %>
  </ul>
</table>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', users_path %>
