<p id="notice"><%= notice %></p>

<h1><%= @brewery.name %></h1>
<p> <em>Established</em> <em>in</em> <em><%= @brewery.year %></em> </p>
<p> Number of beers: <%= @brewery.beers.count %> </p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<% if @brewery.ratings.empty? %>
    <p>No ratings!</p>
<% else %>
    <p><%= @brewery.average_rating %></p>>
<% end %>


<% if current_user %>
    <%= link_to 'Edit', edit_brewery_path(@brewery) %>
    <%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', breweries_path %>
