<p id="notice"><%= notice %></p>

<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @weather %>
    <h4>The current beer weather in <%= params[:city] %></h4>
    <img src="<%= @weather.image %>" >
    <br>
    <div>
      <%= @weather.temperature %> Celcius
    </div>
    <br>
    <div>
      <strong>wind:</strong>
      <%= @weather.wind_speed %> m/sec,
      direction <%= @weather.wind_direction %>
    </div>
<% end %>

<% if @places %>
    <table class="table table-hover">
      <thead>
        <td>Name</td>
        <td>Status</td>
        <td>Street</td>
        <td>City</td>
        <td>Country</td>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <td><%= link_to place.send(:name), place_path(place.send(:id)) %></td>
            <td><%= place.send(:status) %></td>
            <td><%= place.send(:street) %></td>
            <td><%= place.send(:city) %></td>
            <td><%= place.send(:country) %></td>
          </tr>
      <% end %>
    </table>
<% end %>